/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 28 / 30 / 32 / 38

- Font weights
Default: 500
700

- Line heights
1
1.5

--- 02 COLORS

- Primary: 
hsl(158, 36%, 37%)
hsl(158, 42%, 18%)
hsl(212, 21%, 14%)
hsl(228, 12%, 48%)
hsl(30, 38%, 92%)
hsl(0, 0%, 100%)


--- 03 BORDER-RADIUS
0.6rem

--- 04 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 20 / 24 / 34 / 38 / 64
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(30, 38%, 92%);
  font-size: 0.87rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
}

main {
  padding: 4rem 0;
}

.container {
  width: 22.5rem;
  margin: 0 auto;
  border-radius: 0.6rem;
  background-color: hsl(0, 0%, 100%);
}

.img-box {
  background-image: url("/images/image-product-mobile.jpg");
  background-size: cover;
  background-position: center;
  height: 22.5rem;
  border-radius: 0.6rem 0.6rem 0 0;
}

.description-box {
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.sub-title {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 0.75rem;
}

.title {
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: hsl(212, 21%, 14%);
  line-height: 1;
}

.description {
  line-height: 1.5;
}

.price {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.off-price {
  color: hsl(158, 36%, 37%);
  font-size: 2rem;
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
}

.original-price {
  text-decoration-line: line-through;
}

.btn {
  background-color: hsl(158, 36%, 37%);
  padding: 1rem;
  border-radius: 0.6rem;
  border: none;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  font-size: 0.9rem;
}

.btn img {
  margin-right: 0.5rem;
}

.btn:hover {
  background-color: hsl(158, 42%, 18%);
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/**************************/
/* ABOVE 640px*/
/**************************/
@media (min-width: 40em) {
  .container {
    width: 37.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .img-box {
    background-image: url("images/image-product-desktop.jpg");
    height: 100%;
    border-radius: 0.6rem 0 0 0.6rem;
  }
}
